.button-0-highlight {
  background-color: red;
}
.button-1-highlight {
  background-color: green;
}
.button-2-highlight {
  background-color: blue;
}
.button-3-highlight {
  background-color: yellow;
}

.button-0:active {
    background-color: red;
}
.button-1:active {
    background-color: green;
}
.button-2:active {
    background-color: blue;
}
.button-3:active {
    background-color: yellow;
}

p {
  margin: 0;
}
